footer{
    background-color: #1293D4;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    margin: 0;
}

               /* Aqui iran los cambios de miguel*/